@model LibraryManagementSystem.MVCUI.Areas.Admin.ViewModels.KitabViewModel

@{
    ViewBag.Title = "Kitabı Sil";
}

<h2>Kitabı Sil</h2>

<h3>Kitabı silmək istədiyinizdən əminsiz?</h3>
<div>
    <h4>Kitab Məlumatları</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KitabAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KitabAdi)
        </dd>

        <dt>Müəllif(lər)</dt>

        <dd>
            @Html.DisplayFor(model => model.sechilmishMuellifAdi)
        </dd>

        <dt>Kateqoriya(lar)</dt>
        <dd>
            @Html.DisplayFor(model => model.sechilmishKateqoriyaAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Haqqinda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Haqqinda)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.IcareQiymeti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IcareQiymeti)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.StokdaVarmi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StokdaVarmi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            <img src="~/Images/@Html.DisplayFor(model => model.Foto)" alt="" height="50" class="clickable-photo" style="cursor:pointer;" />
        </dd>
    </dl>

    @using (Html.BeginForm("DeleteKitab", "KitabIdaresi", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" />
            <div>@Html.ActionLink("Siyahıya Qayıt", "IndexKitab")</div>
        </div>
    }
</div>

<!-- Foto Modal -->
<div id="fotoModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="background: transparent; border: none;">
            <div class="modal-body text-center">
                <img id="modalImage" src="" alt="Foto" style="max-width: 100%; max-height: 80vh;" />
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        // Foto kliklə açmaq:
        $(document).ready(function () {
            $('.clickable-photo').on('click', function () {
                var src = $(this).attr('src');
                $('#modalImage').attr('src', src);
                $('#fotoModal').modal('show');
            })
        });
    </script>
}
