<!-- ~/Areas/User/Views/Home/Index (HomeController.cs-in Index.cshtml methodu, ~/Modals/EsasSehifeVM və ~/Areas/User/Views/User/MyProfile.cshtml ilə işləyir. HomeController-dakı bu public ActionResult Index(int page = 1) Repository-lərdəki GetPaged (for KitabManager) methodunu istifadə edir.): -->

@model LibraryManagementSystem.MVCUI.Models.EsasSehifeVM

@{
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "İstifadəçi Əsas Səhifəsi";
}

<header data-bs-theme="dark">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">

            <a class="navbar-brand" href="#">Library Management System</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">

                    <li class="nav-item">
                        @Html.ActionLink("Kitabxana", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item">
                        @Html.ActionLink("Hesab Məlumatları", "MyProfile", "User", new { area = "User" }, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item">
                        @Html.ActionLink("İcarələrim", "Icarelerim", "User", new { area = "User" }, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item">
                        @Html.ActionLink("Cərimələrim", "Cerimelerim", "User", new { area = "User" }, new { @class = "nav-link" })
                    </li>

                </ul>
            </div>

        </div>
    </nav>
</header>

<main style="padding-top: 70px;">

    <h2>
        <a href="@Url.Action("MyProfile", "User", new { area = "User" })"
           class="text-decoration-none text-dark">
            Salam, @Session["UserName"]!
        </a>
    </h2>

    <p>Bu səhifə yalnız login olmuş istifadəçilər üçün nəzərdə tutulub.</p>

    
</main>
