@model LibraryManagementSystem.DAL.Icare

@{
    ViewBag.Title = "Sil";
}

<h2>İcarəni Sil</h2>

<h3>İcarəni silmək istədiyinizdən əminsiz?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IcareID)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IcareID)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Istifadechi.AdSoyadi)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Istifadechi.AdSoyadi)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kitab.KitabAdi)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kitab.KitabAdi)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IcareTarixi)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IcareTarixi, "{0:dd.MM.yyyy}")
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SonTarix)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SonTarix, "{0:dd.MM.yyyy}")
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QaytarilmaTarixi)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QaytarilmaTarixi, "{0:dd.MM.yyyy}")
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Statusu)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Statusu)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Qaytarilibmi)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Qaytarilibmi)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IcareQiymeti)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IcareQiymeti)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" /> 
            <div>@Html.ActionLink("Siyahıya Qayıt", "IndexIcare")</div>
        </div>
    }
</div>
