@model LibraryManagementSystem.DAL.Icare

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Icare</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IcareQiymeti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IcareQiymeti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IcareTarixi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IcareTarixi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SonTarix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SonTarix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QaytarilmaTarixi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QaytarilmaTarixi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qaytarilibmi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qaytarilibmi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Statusu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Statusu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Istifadechi.Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Istifadechi.Adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kitab.KitabAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kitab.KitabAdi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IcareID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
