@model IEnumerable<LibraryManagementSystem.DAL.Icare>

@{
    ViewBag.Title = "İcarələr";
}

<h2>İcarələr</h2>

<p>
    @Html.ActionLink("Yeni İcarə Əlavə Et", "CreateIcare", null, new { @class = "btn btn-outline btn-info" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IcareQiymeti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IcareTarixi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SonTarix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QaytarilmaTarixi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qaytarilibmi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Statusu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Istifadechi.AdSoyadi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kitab.KitabAdi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IcareQiymeti)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IcareTarixi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SonTarix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QaytarilmaTarixi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qaytarilibmi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Statusu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Istifadechi.AdSoyadi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kitab.KitabAdi)
        </td>
        <td>
            @Html.ActionLink("Redaktə Et", "EditIcare", new { id=item.IcareID }, new { @class = "btn btn-sm btn-primary" }) |

            @Html.ActionLink("Sil", "DeleteIcare", new { id=item.IcareID }, new { @class = "btn btn-sm btn-danger" })
        </td>
    </tr>
}

</table>
