@model LibraryManagementSystem.DAL.Kateqoriya

@{
    ViewBag.Title = "Sil";
}

<h2>Sil</h2>

<h3>Kateqoriyanı silmək istədiyinizdən əminsiz?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KateqoriyaAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KateqoriyaAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KateqoriyaTesviri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KateqoriyaTesviri)
        </dd>

    </dl>

    @using (Html.BeginForm("DeleteKateqoriya", "KateqoriyaIdaresi", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" /> 
            <br />
            @Html.ActionLink("Siyahıya Qayıt", "IndexKateqoriya")
        </div>
    }
</div>
