@model IEnumerable<LibraryManagementSystem.DAL.Muellif>

@foreach (var item in Model)
{
    <tr>
        <td>@item.MuellifAdSoyadi</td>
        @*<td>@Html.DisplayFor(modelItem => item.MuellifAdi)</td>
        <td>@Html.DisplayFor(modelItem => item.MuellifSoyadi)</td>*@
        <td>
            @Html.ActionLink("Redaktə Et", "EditMuellif", new { id = item.MuellifID }, new { @class = "btn btn-sm btn-primary" })
            @Html.ActionLink("Sil", "DeleteMuellif", new { id = item.MuellifID }, new { @class = "btn btn-sm btn-danger" })
        </td>
    </tr>
}
