@model LibraryManagementSystem.DAL.Muellif

@{
    ViewBag.Title = "Sil";
}

<h2>Sil</h2>

<h3>Silmək istədiyinizdən əminsiz?</h3>
<div>
    <h4>Müəllif</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.MuellifID)
        <dt>
            @Html.DisplayNameFor(model => model.MuellifAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MuellifAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MuellifSoyadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MuellifSoyadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MuellifinDoghumTarixi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MuellifinDoghumTarixi)
        </dd>

    </dl>

    @using (Html.BeginForm("DeleteMuellif", "MuellifIdaresi", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" />
            <div>@Html.ActionLink("Siyahıya Qayıt", "IndexMuellif")</div>
        </div>
    }
</div>
